label{
  font-weight: 700;
}

input{
  font-size: 1rem;
  padding:0.75rem 0.5rem;
  border: 1px solid var(--primary_bg300);
}

input.width-full{
  width:100%;
}

button{
  background-color: var(--lavanda);
  color: var(--primary_text);
  border: solid 2px var(--lavanda);
  padding: 0.75rem;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover{
  background-color: var();
  box-shadow: 1px 1px 3px var(--primary_bg);
  text-decoration: none; 
  background-color: var(--rosado-pastel); 
}

button.primary{
  background-color: var(--frambuesa);
  border: solid 2px var(--frambuesa);
  color: var(--primary_action_tx);
  transition: background-color 0.3s ease;
}

button.primary:hover{
   box-shadow: 1px 1px 3px var(--lavanda);
   text-decoration: none; 
   background-color: var(--rosado-pastel); 
}
